.mp-app-info-modal {
  &__heading {
    align-items: center;
    display: flex;
    font-size: $size-2xl;

    .mp-icon {
      color: $cyan-2;
      margin-right: $space-m;
    }
  }

  &__disclaimer {
    border-radius: $size-xl;
    background-color: transparentize($color: $amber-4, $amount: 0.8);
    margin: $space-l auto;
    max-width: 480px;
    padding: $space-xl;
    font-size: $size-s;
    font-style: italic;
    font-weight: bold;

    .mp-icon {
      color: $amber-2;
      float: left;
      height: $space-xl;
      margin-right: $space-m;
    }
  }

  &__item {
    justify-content: space-between;
    display: flex;
    padding: $space-l 0;

    &:last-child {
      border: 0;
    }
  }

  &__binding {
    font-weight: 800;
    font-style: italic;
    padding-right: $space-m * 0.75;
  }

  &__btn-start {
    width: 100%;
  }
}
