.mp-canvas {
	height: 100vh;
	position: absolute;
	transition: background-color $transition-duration-s;
	width: 100vw;

	&--dark {
		background-color: $black;
	}

	&--light {
		background-color: $white;
	}
}
