.mp-volume-control {
	align-items: center;
	display: flex;
	filter: drop-shadow(0 0 2px $gray-10);
	position: relative;

	&__btn {
		background-color: transparent;
		border: 0;
		color: white;
		cursor: pointer;
		display: flex;
		margin-right: $space-m;
		padding: 0;
	}

	&__range {
		left: 100%;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translateY(calc(-50%));
		transition: opacity $transition-duration-s;
		width: $space-3xl;
	}

	&:hover &__range,
	&:focus-within &__range {
		opacity: 1;
	}
}
