// Grayscale colors

$white: #ffffff;
$black: #000000;

$gray-1: #f9f9f9;
$gray-2: #e8e8e8;
$gray-3: #d7d7d7;
$gray-4: #c6c6c6;
$gray-5: #a5a5a5;
$gray-6: #949494;
$gray-7: #737373;
$gray-8: #626262;
$gray-9: #515151;
$gray-10: #303030;

// Primary Colors

$teal-1: #b2dfdb;
$teal-2: #4db6ac;
$teal-3: #009688;
$teal-4: #00796b;

$amber-1: #ffecb3;
$amber-2: #ffd54f;
$amber-3: #ffc107;
$amber-4: #ffa000;

$cyan-1: #80deea;
$cyan-2: #26c6da;
$cyan-3: #00acc1;
$cyan-4: #00838f;

$green-1: #c8e6c9;
$green-2: #81c784;
$green-3: #4caf50;
$green-4: #388e3c;
