$space-xs: 0.125rem;
$space-s: 0.25rem;
$space-m: 0.5rem;
$space-l: 1rem;
$space-xl: 2rem;
$space-2xl: 4rem;
$space-3xl: 5rem;

$content-padding-s: $space-m;
$content-padding-m: $space-m $space-l;
$content-padding-l: $space-l $space-xl;
